body {
  font-family: sans-serif;
  padding: 8px;
  background-color: #012169;
  color: #fff;
  height: fit-content;
}

html {
  height: 0;
}

#deck-list-input {
  height: auto;
  color: #012169;
  font-weight: 600;
  background: #fff;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #ced4da;
  outline: 0;
  padding: 16px;
  border-radius: 0.2rem;
  resize: vertical;
}

.content-wrapper {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-text {
  font-size: 0.875rem;
}

a {
  color: #8ab4f8;
}

.copy-button {
  position: absolute;
  top: 8px;
  right: 16px;
  background-color: transparent;
  border: transparent;
  outline: 0;
  cursor: pointer;
}

.copy-icon,
.copied-icon {
  width: 20px;
  height: 20px;
}

.textbox-wrapper {
  position: relative;
}

.wrong-page-wrapper {
  width: 300px;
}

.wrong-page__title {
  font-size: 0.875rem;
  margin: 0;
}

.wrong-page__subtext {
  margin: 0;
}

.info-text-wrapper {
  display: none;
  position: absolute;
  top: 0;
  z-index: 1000;
  height: 100%;
  left: 0;
  padding: 16px;
  background-color: rgba(1, 33, 105, 0.9);
}

.about-button {
  background-color: transparent;
  text-decoration: underline;
  color: #fff;
  border: 0;
  cursor: pointer;
  margin-top: 8px;
}

.close-button {
  position: absolute;
  top: 4px;
  right: 4px;
  background-color: transparent;
  color: #fff;
  border: 0;
  cursor: pointer;
}

.faq-question {
  text-decoration: underline;
  font-size: 1rem;
  margin-bottom: 4px;
}
