body {
  font-family: sans-serif;
  padding: 8px;
  background-color: #012169;
  color: #fff;
  height: fit-content;
}

html {
  height: fit-content;
}

a {
  color: #8ab4f8;
}

#deck-list-input {
  height: auto;
  color: #012169;
  font-weight: 600;
  background: #fff;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #000;
  outline: 0;
  padding: 16px;
  border-radius: 0.2rem;
  resize: vertical;
  border-radius: 0;
  max-height: 400px;
}

.content-wrapper {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-text {
  font-size: 0.875rem;
}

.copy-button {
  position: absolute;
  top: 8px;
  right: 16px;
  background-color: transparent;
  border: transparent;
  outline: 0;
  cursor: pointer;
}

.copy-icon,
.copied-icon {
  width: 25px;
  height: 25px;
}

.copied-icon {
  display: none;
}

.textbox-wrapper {
  position: relative;
}

.wrong-page-wrapper {
  width: 300px;
}

.wrong-page__title {
  font-size: 0.875rem;
  margin: 0;
}

.wrong-page__subtext {
  margin: 0;
}

.info-text-wrapper {
  display: none;
  position: absolute;
  top: 0;
  z-index: 1000;
  height: 100%;
  left: 0;
  padding: 16px;
  background-color: rgba(1, 33, 105, 0.9);
}

.about-button {
  background-color: transparent;
  text-decoration: underline;
  color: #fff;
  border: 0;
  cursor: pointer;
  margin-top: 8px;
}

.close-button {
  position: absolute;
  top: 4px;
  right: 4px;
  background-color: transparent;
  color: #fff;
  border: 0;
  cursor: pointer;
}

.faq-question {
  text-decoration: underline;
  font-size: 1rem;
  margin-bottom: 4px;
}

/* Copied icon */

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}
.path.circle {
  -webkit-animation: dash 0.5s ease-in-out;
  animation: dash 0.5s ease-in-out;
}
.path.line {
  stroke-dashoffset: 1000;
  -webkit-animation: dash 0.5s 0.35s ease-in-out forwards;
  animation: dash 0.5s 0.35s ease-in-out forwards;
}
.path.check {
  stroke-dashoffset: -100;
  -webkit-animation: dash-check 0.5s 0.35s ease-in-out forwards;
  animation: dash-check 0.5s 0.35s ease-in-out forwards;
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

@-webkit-keyframes checkmark {
  0% {
    stroke-dashoffset: 100px;
  }

  100% {
    stroke-dashoffset: 200px;
  }
}

@-ms-keyframes checkmark {
  0% {
    stroke-dashoffset: 100px;
  }

  100% {
    stroke-dashoffset: 200px;
  }
}

@keyframes checkmark {
  0% {
    stroke-dashoffset: 100px;
  }

  100% {
    stroke-dashoffset: 0px;
  }
}

@-webkit-keyframes checkmark-circle {
  0% {
    stroke-dashoffset: 480px;
  }

  100% {
    stroke-dashoffset: 960px;
  }
}

@-ms-keyframes checkmark-circle {
  0% {
    stroke-dashoffset: 240px;
  }

  100% {
    stroke-dashoffset: 480px;
  }
}

@keyframes checkmark-circle {
  0% {
    stroke-dashoffset: 480px;
  }

  100% {
    stroke-dashoffset: 960px;
  }
}
